adc_lo=float(10)
adc_hi=float(500)
GPUID=str("0")
name=str("NuMI_full_set_8441_steps_no_rotation_LM")
rotation = False 
# input_file = "/vols/sbn/uboone/darkTridents/data/larcv_files/run1_data/run1_beamon_set0_larcv_cropped.root"
# input_csv = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/csv_in/run1_beamon_set0_larcv_cropped.csv"
weight_file = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/weights/3956714/DM-CNN_model_20260223-12_21_AM_epoch_4_batch_id_1961_labels_2_title_0.001_AG_GN_LM_TRAINING_step_9821.pwf"
# output_dir = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/inference/"

# for signal infernece
# input_file = "/vols/sbn/uboone/darkTridents/data/larcv_files/run1_signal/run1_dt_ratio_0.6_ma_0.05_pi0_larcv_cropped.root"
# input_csv = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/csv_in/run1_dt_ratio_0.6_ma_0.05_pi0_larcv_cropped.csv"
# output_dir = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/inference/"

# for background inference
# input_file = "/vols/sbn/uboone/darkTridents/data/CNN_training/ncpi0_only_test_set.root"
# input_csv = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/csv_in/ncpi0_only_test_set.csv"
# output_dir = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/inference/"

# for run3 (set11) data inference
input_file = "/vols/sbn/uboone/darkTridents/data/larcv_files/run3_data/run3_beamon_set11_larcv_cropped.root"
input_csv = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/csv_in/run3_beamon_set11_larcv_cropped.csv"
output_dir = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/inference/"

# for run3 NuMI full set inference
# input_file = "/vols/sbn/uboone/darkTridents/data/larcv_files/run3_data/run3_NuMI_beamon_larcv_cropped_full_set.root"
# input_csv = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/csv_in/run3_NuMI_beamon_larcv_cropped_full_set.csv"
# output_dir = "/vols/sbn/uboone/ll4420/dark_tridents_wspace/inference/"